body {
    font-family: Arial, sans-serif;
    background-image: linear-gradient(to right, #abd1d0,#7fcac8,#079a8d);
    margin: 0;
    padding: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 18px;
}

.container {
    width: 800px;
    height: 650px;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container1{
    width: 800px;
    height: 640px;
    background: white;
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}

h1 {
    font-size: 3em;
    background: linear-gradient(to right, #19a99d, #033c37);
    -webkit-background-clip: text;
    color: transparent;
    text-align: center;
    font-weight: bold;
    animation: pulse 10s infinite;
}

@keyframes pulse {
    0%, 100% { transform: scale(1); }
    50% { transform: scale(1.1); }
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0 5px;
}

input, select {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background: #5cb85c;
    color: white;
    border: none;
    padding: 15px;
    margin: 15px;
    border-radius: 4px;
    cursor: pointer;
    width: 100px;
    font-weight: bolder;
    font-size: 20px;
    margin-left: 350px;
}

button:hover {
    background: #4cae4c;
}

.heading{
    font-weight: 600;
    font-size: 20px;
}

#result {
    margin-top: 20px;
}

#bmiInfo, #dietInfo {
    padding: 10px;
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: #f9f9f9;
}
